{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="homContainer">
        <div class="h1" >
            <h1>About Page</h1>
        </div>
        <div class="hom2">
            <p style="padding-top: 10px; text-align: justify;">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo sunt dolore obcaecati, consequuntur omnis impedit officiis aliquid et beatae alias saepe. Necessitatibus, consequatur! Asperiores ducimus quidem cum soluta consectetur mollitia!</p>
            <p style="padding-top: 10px; text-align: justify;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis dolore in architecto id dolorem ut, a dicta commodi quo non similique, corrupti omnis sequi aut sapiente natus eum quisquam magni?
            Maxime harum quos delectus. Vitae fuga, consequatur cum dolorem ullam odit libero temporibus odio! Officia temporibus, repellendus nemo culpa iste, molestias distinctio dolor quia officiis exercitationem ut minus asperiores corporis!</p>
        </div>
    </div>
    
    
</body>
</html>
{% endblock content %}